.fancybox-container.fancybox-quick-view .fancybox-content#quick-view {
  display: block;
  height: 100%;
  position: absolute;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 1024px;
  max-width: 90%;
  max-height: 75%;
  max-height: 90%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* overflow: auto!important; */
  /* overflow: hidden!important; */
}

#quick-view .qv-product-images img {
  max-height: 580px;
  display: block;
  margin: auto;
}

/*   
.qv-product-options .option-selection-color span.option {
position: absolute;
top: 0;
bottom: 0;
margin: auto;
display: block;
line-height: normal;
left: 12px;
line-height: 48px; }
*/
.qv-add-to-cart {
  padding-left: 0;
  padding-right: 0;
}

.qv-product-description {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 12px;
}

.qv-add-to-cart .product-single__qty-input .quantity-selector {
  visibility: visible;
}

.selector-wrapper span.option:after {
  content: ' -';
  margin-left: 3px;
}

.qv-add-to-cart .selector-wrapper select {
  padding-left: 72px;
}

.quick-view-button.product-btn .quick-view {
  color: #2e384b;
  font-size: 19px;
  background-color: rgba(255, 255, 255, 0.66);
  font-family: 'avenir-nextregular';
}

.collection-products .quick-view-button.product-btn .quick-view,
.related-products .quick-view-button.product-btn .quick-view {
  background-color: rgba(183, 190, 203, 0.75);
}

@media (max-width: 767px) {
  .fancybox-container.fancybox-quick-view .fancybox-content#quick-view {
    padding: 15px;
  }

  .quick-view-button.product-btn {
    display: none;
  }
}

.fancybox-inner {
  height: 100% !important;
}

a.fancybox-item.fancybox-close {
  right: -5px;
  top: 10px;
}

.qv-add-to-cart-response {
  clear: both;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 16px;
}

.qv-add-to-cart-response a {
  display: inline-block;
}

.product-card .quick-view-button .quick-view {
  position: absolute;
  top: 55px;
  right: -35px;
  transform: translate(-50px, -50px);
  background: rgba(255, 255, 255, 1);
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  white-space: nowrap;
  border: 0 none;
}

.product-card:hover .quick-view-button .quick-view {
  transition: all 0.3s linear;
  opacity: 1;
  visibility: visible;
}

.product-form__controls-group .qv-product-options {
  flex-grow: 1;
  margin-top: 16px;
}

.product-form__controls-group .qv-product-options .option-selection {
  margin-bottom: 12px;
}

.product-form__controls-group .qv-product-options .option-selection .option {
  display: block;
  width: 100%;
}

.qv-content {
  opacity: 0;
  transition: all 0.3s linear;
}

div#quick-view.loaded .qv-content {
  opacity: 1;
}

.qv-content .quantity {
  margin-bottom: 12px;
}

.qv-content input[type="submit"] {
  margin-top: 12px;
}


#quick-view .product-single{
  margin-bottom: 0;
}

.product-single__media-group .sliderWrap {
  display: flex;
  width: 100%;
}

.product-single__media-group .sliderWrap .qv-product-thumb-images .thumb-iteam {
  padding-bottom: 10px;
  /* margin-bottom: 10px; */
}

.product-single__media-group .sliderWrap .qv-product-thumb-images {
  width: 80px;
  flex: 0 0 80px;
}

.product-single__media-group .sliderWrap .qv-product-images {
  width: calc(100% - 90px);
  flex: 0 0 calc(100% - 90px);
  margin-left: 10px;
}

.product-single__media-group .sliderWrap img {
  max-width: 100%;
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
}

.qv-product-options .option-selection.option-selection-color {
  /* display: none; */
}

.qv-product-thumb-images.slick-initialized.slick-slider.slick-dotted.slick-vertical .slick-arrow {
  margin: auto;
  display: block;
  position: static;
  transform: none;
}
.qv-product-thumb-images.slick-initialized.slick-slider.slick-vertical .slick-track {
  top: -25px;
}
.qv-product-thumb-images.slick-initialized.slick-slider.slick-dotted.slick-vertical .slick-arrow:before {
  display: none;
}

.qv-product-thumb-images.slick-initialized.slick-slider.slick-dotted.slick-vertical .slick-arrow.slick-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' role='presentation' class='icon icon-chevron-down' viewBox='0 0 9 9' transform='rotate(180)'%3E%3Cpath d='M8.542 2.558a.625.625 0 0 1 0 .884l-3.6 3.6a.626.626 0 0 1-.884 0l-3.6-3.6a.625.625 0 1 1 .884-.884L4.5 5.716l3.158-3.158a.625.625 0 0 1 .884 0z' fill='%23000' /%3E%3C/svg%3E");
}

.qv-product-thumb-images.slick-initialized.slick-slider.slick-dotted.slick-vertical .slick-arrow.slick-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' role='presentation' class='icon icon-chevron-down' viewBox='0 0 9 9'%3E%3Cpath d='M8.542 2.558a.625.625 0 0 1 0 .884l-3.6 3.6a.626.626 0 0 1-.884 0l-3.6-3.6a.625.625 0 1 1 .884-.884L4.5 5.716l3.158-3.158a.625.625 0 0 1 .884 0z' fill='%23000'/%3E%3C/svg%3E");
}

.qv-product-options .product-single__swatch__item {
  display: inline-block;
}

.qv-product-options .product-single__swatch__item .u-hidden-visually {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.qv-product-options .product-single__swatch__label {
  position: relative;
  display: block;
  text-indent: 0;
  overflow: hidden;
  margin: 0 4px 4px;
  box-shadow: 0 0 0 1px #e8e8e1;
  transition: box-shadow 0.2s ease;
  border-radius: 0;
  width: auto;
  height: 30px;
  padding: 5px 10px;
  display: inline-block;
  line-height: 20px;
}

.qv-product-options .option-selection-color-swatches .product-single__swatch__label {
  padding: 0;
  position: relative;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 4px 4px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1px #e8e8e1;
  transition: box-shadow 0.2s ease;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.qv-product-options .product-single__swatch__label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: 3px solid;
  border-color: #ffffff;
  border-radius: 100%;
  border-width: 4px;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px
}

.qv-product-options .product-single__swatch__label .product-single__swatch__label__graphic {
  display: block;
  width: 100%;
  height: 100%;
}

.qv-product-options .product-single__swatch__label:hover {
  box-shadow: 0 0 0 1px #000000;
}

.qv-product-options .product-single__swatch__item:checked~.product-single__swatch__label {
  box-shadow: 0 0 0 1px #000000;
}

.qv-product-options .product-single__swatch__item input[type='radio']:checked+label {
  box-shadow: 0 0 0 2px;
}

.qv-product-options .option-selection-color-swatches .soldout label.product-single__swatch__label:after {
  content: "";
  background-image: linear-gradient(to bottom left, transparent 51%, #999 50%, #999 calc(50% + 1.5px), transparent 50%), linear-gradient(to bottom right, transparent 51%, #999 50%, #999 calc(50% + 1.5px), transparent 50%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#quick-view ul.slick-dots {
  display: none !important;
}

#quick-view .thumbWrap video {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.qv-product-images .thumbWrap.fixed_aspect_ratio.image-ratio--portrait {
  height: 544px;
}
#quick-view h1.qv-product-title {
  margin: 0 0 14px;
  font-weight: bold;
  font-size: 24px;
}
#quick-view .product-form__buttons  {
  margin-top: 15px;
}
#quick-view .product-form__buttons button {
  margin-bottom: 15px;
}


/* Dynamic checkout */

.shopify-payment-button__button {
  border-radius: 0;
  font-family: inherit;
  min-height: 4.6rem;
  overflow: hidden;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.07rem;
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), var(--alpha-button-border));
}

.shopify-payment-button__button--unbranded:focus {
  outline: 0.3rem solid rgb(var(--color-foreground));
  outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus-visible {
  outline: 0.3rem solid rgb(var(--color-foreground));
  outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus:not(:focus-visible) {
  outline: 0;
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.shopify-payment-button__button--hidden {
  display: none;
}

/* Product form */

.product-single__thumbnail-badge {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}
@media (min-width: 750px){
  .product-single__thumbnail-badge {
    width: 26px;
height: 26px;
}
}

.product-single__thumbnail-badge .icon {
fill: #fff;
width: 100%;
height: 100%;
vertical-align: baseline;
}
svg.icon.icon--full-color.icon-video-badge-full-color path.icon-video-badge-full-color-outline {
stroke: rgba(226,226,226,0.5);
}
svg.icon.icon--full-color.icon-video-badge-full-color path.icon-video-badge-full-color-element{
fill: #1a1a1a;
}

.product-single__media-group .sliderWrap .qv-product-thumb-images .thumb-iteam {
display: block;
height: auto;
border: 1px solid transparent;
}
.product-single__media-group .sliderWrap .qv-product-thumb-images .thumb-iteam .thumbWrap {
position: relative;
}


.card-wrapper .quick-view-button .quick-view {
  position: absolute;
  top: 55px;
  right: -35px;
  transform: translate(-50px, -50px);
  background: rgba(255,255,255,1);
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  white-space: nowrap;
  border: 0 none;
  cursor: pointer;
}
.card-wrapper:hover .quick-view-button .quick-view {
  transition: all 0.3s linear;
  opacity: 1;
  visibility: visible;
}
.card-wrapper .quick-view-button .quick-view .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}
.card-wrapper .availableDate, .card-wrapper .product__inventory {
  display: none;
}